.ui-section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.ui-section-title {
  font-family: "Nunito", sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  font-weight: 700;
  padding-left: 0.5rem;
}

.ui-section-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
