.auth-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.auth-main-btn {
  margin-bottom: 1.2rem;
}
.auth-user {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
}
.auth-logged-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
